@font-face {
    font-family: 'sinkin_sans400_regular';
    src: url('fonts/SinkinSans-400Regular-webfont.eot');
    src: url('fonts/SinkinSans-400Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SinkinSans-400Regular-webfont.woff2') format('woff2'),
         url('fonts/SinkinSans-400Regular-webfont.woff') format('woff'),
         url('fonts/SinkinSans-400Regular-webfont.ttf') format('truetype'),
         url('fonts/SinkinSans-400Regular-webfont.svg#sinkin_sans400_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body
{
  background-image: url("fond-site.jpg");

}

#header /* 3 éléments de l'entête (logo/ barre de recherce / login)*/
{
  background-color: #2DACD6; /*color de fond*/
    
  display: flex; /*type d'élément, ici flexbox*/
  flex-wrap: nowrap;/*pas de retour à la ligne des flexbox*/
  justify-content: space-between;/*espace entre chaque boite*/ 
}


.date
{
    color: orange; 
}

.login nav a
{
    font-size: 1.3em;/*taille du texte*/
    color: black;
    padding-bottom: 3px;/*marge intérieur bas*/
    position: relative;
    top: 180px;  /*position par rapport au haut*/

}


section
{
    display: flex;
    margin-top: 0px; /*marge en fonction du haut*/
    padding-top: 15px; /*marge en fonction du bas*/
    top: 20px;
    
    justify-content: space-around;
    
    flex-wrap: nowrap;

    
    align-items: center;

}





.produits_proche 
{
    border-style: solid;
    border-color: black; 
    padding: 5px 100px 90px 100px; 
}

.produits_proche img
{
    width: 80px;
    height: 55px;
}

.compte
{
    border-style: solid;
    border-color: black;
    border: double;/*bordure double*/
    border-radius: 10px; /*bord arrondie*/
   
    padding: 5px 100px 90px 100px; 
}

.compte img
{
    width: 60px;
    height: 50px; 

}



footer
{
    display: flex;
     padding-top: 25px; /*marge intérieur bas*/
}

#aide
{
    width: 33%; /*largeur */
}

#Nous
{
    width: 33%; 
}

#informations
{
    width: 33%; 
}

#information a
{
   text-decoration: underline; 
   color: blue;
}
aside img
{ margin-right: 5px;  }





 a:hover
        { color: black; }



 a:visited 
 {  color: #888888; } 


.blue {
  height: 70px;
  background-color: WhiteSmoke;
}

.space {
  height: 30px;
}

.menu {
  height: 600px;
}